<li class="border rounded-md p-3 shadow hover:bg-gray-100">
  <%= link_to conversation.users.where.not(id: current_user.id).map(&:username).join(', '), conversation_path(conversation), class: "text-indigo-600 font-semibold hover:underline" %>
</li>